<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

<!-- 	<M2_SETTINGS_REPO_ID>35.200.134.234:32151</M2_SETTINGS_REPO_ID> -->
<!-- 	<M2_SETTINGS_REPO_USERNAME></M2_SETTINGS_REPO_USERNAME> -->
<!-- 	<M2_SETTINGS_REPO_PASSWORD></M2_SETTINGS_REPO_PASSWORD> -->
<!-- 	<DOCKER_SERVER_ID></DOCKER_SERVER_ID> -->
<!-- 	<DOCKER_USERNAME></DOCKER_USERNAME> -->
<!-- 	<DOCKER_PASSWORD></DOCKER_PASSWORD> -->
<!-- 	<DOCKER_EMAIL></DOCKER_EMAIL> -->

	<servers>
		<server>
			<id>art1</id>
			<username>admin</username>
			<password>password</password>
		</server>
	</servers>

</settings>